resources/species.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="shoddybattle">

<xs:element name="species">
	<xs:complexType>
		<xs:attribute name="id" type="xs:integer" />
		<xs:attribute name="name" type="xs:string" />
	</xs:complexType>
</xs:element>

</xs:element>
</xs:schema>
